<!-- This is the home page -->
<div class="home-page--outer-wrapper">
	<div class="container-fluid" id="home-page--jumbotron">
		<div class="home-page--jumbotron-overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="home-page--jumbotron-title-text">Robot Resistance</h3>
						<p class="home-page--jumbotron-sub-title-text">We are a collective of skilled humans; many call us Heroes. We are ready to rise against the machines.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container home-page--about-section">
		<div class="row">
			<div class="col-md-12 home-page--new-col-padding">
				<h3 class="home-page--about-title">Current Heroes <span class="special-blue">(<%=@heroes.length %>)</span></h3>
				<p class="home-page--about-sub-title">These are the Heroes that we have already recruited. You can see more details about them by their badges. The badges will let you know what particular skill each hero possesses.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<% if @heroes.present? %>
				<% @heroes.each do |hero| %>
					<div class="col-md-4">
				      	<div class="indi-hero-wrap">
					      <%= image_pack_tag "media/images/hero-placeholder.jpg", class: "hero--img-home" %>
					       <h3 class="hero-name"><%= hero.name %></h3>
					       <hr />
					       <h3 class="badge-title">Badge:</h3>
					       <img class="badge-awarded-img" src="<%= hero.badge_img %>">
					       	<p>Badge name: <%= hero.badge_name %></p>
					       	<p>Badge skill: <%= hero.badge_skill %></p>
					       	<p>Badge description: <%= hero.badge_description %></p>
					       	<p>Badge ID: <%= hero.badge_id %></p>
					    </div>
					</div>
				<% end %>
			<% else %>
		    	<h3 class="no-heroes">No Heroes have joined the resistance.</h3>
		    <% end %>
		</div>
	</div>
	<div class="container-fluid find-new-recruits-section">
		<div class="row">
			<div class="col-md-12">
				<h3>You should grow your resistance. Let's head over to the hero catalog and search for some new Heroes.</h3>
				<%= link_to "Recruit a Hero", heroes_path, class: "nav-link btn btn-primary find-new-hero-path" %>
			</div>
		</div>
	</div>
</div>

<% if @new_hero %>
<div class="modal fade badge-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
    	<div class="badge-modal-inner">
	    	<h3>Congratulations on the Recruit!</h3>
	    	<p><span class="special-blue"><%= @new_hero.name %></span> will make a great addition. After analysis by the resistance members, we have concluded what our new heroes skills include. We will be issuing him this badge below. This badge will represent his skill</p>
	    	<hr />
	    	<div class="badge-information">
	    		<h3>Badge Rewarded</h3>
	    		<img src="<%= @new_hero.badge_img %>" class="badge-awarded-img">
				<p><strong>Badge name:</strong> <%= @new_hero.badge_name %></p>
				<p><strong>Skill:</strong> <%= @new_hero.badge_skill %></p>
				<p><strong>Description:</strong> <%= @new_hero.badge_description %></p>
	    	</div>
	    	<hr />
	    	<div class="close-modal-wrapper">
	    		<button class="btn btn-primary close-modal-btn" data-dismiss="modal">Close</button>
	    	</div>
	    </div>
    </div>
  </div>
</div>
<% end %>
<script>
	<% if flash[:badge_modal] %>
		$(window).on('load', function() {
			$('.badge-modal').modal();
		})
	<% end %>
</script>
